---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const teams = await getCollection("teams");
  return teams.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"teams">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
  frontmatter={{
    title: entry.data.title,
    year: entry.data.year,
    widget: entry.data.widget,
    bgImage: "/funino.jpg",
  }}
>
  {
    entry.data.coaches && (
      <div>
        <label>Trainer:&nbsp;</label>
        {entry.data.coaches.map((coach, idx) => {
          const name = coach.name.replace(" ", "\u00a0");
          return (
            <>
              {idx !== 0 && ", "}
              {!coach.email && <span>{name}</span>}
              {coach.email && <a href={`mailto:${coach.email}`}>{name}</a>}
            </>
          );
        })}
      </div>
    )
  }
  {
    entry.data.times && (
      <div>
        <label>Trainingszeiten:&nbsp;</label>
        <span>{entry.data.times}</span>
      </div>
    )
  }
  {
    entry.data.place && (
      <div>
        <label>Trainingsort:&nbsp;</label>
        <span>{entry.data.place}</span>
      </div>
    )
  }
  {
    entry.data.photo && (
      <Image src={entry.data.photo} alt={entry.data.title} quality="high" />
    )
  }
  <Content />
</Layout>
