---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const teams = await getCollection("teams");
  return teams.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"teams">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
  frontmatter={{
    title: entry.data.title,
    widget: entry.data.widget,
    bgImage: "/funino.jpg",
  }}
>
  {
    entry.data.coach && (
      <div>
        <label>Trainer:&nbsp;</label>
        <span>{entry.data.coach}</span>
      </div>
    )
  }
  {
    entry.data.times && (
      <div>
        <label>Trainingszeiten:&nbsp;</label>
        <span>{entry.data.times}</span>
      </div>
    )
  }
  {
    entry.data.place && (
      <div>
        <label>Trainingsort:&nbsp;</label>
        <span>{entry.data.place}</span>
      </div>
    )
  }
  {
    entry.data.photo && (
      <Image src={entry.data.photo} alt={entry.data.title} quality="high" />
    )
  }
  <Content />
</Layout>
