---
import "../global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Drawer from "../components/Drawer.astro";
import type { WidgetType } from "src/components/Widget.astro";
import Widget from "src/components/Widget.astro";

export interface Props {
  frontmatter: {
    title: string;
    widget: WidgetType | undefined;
    bgImage?: string | undefined;
  };
}

const {
  frontmatter: { title, widget, bgImage },
} = Astro.props;

console.log(bgImage);
---

<!DOCTYPE html>
<html lang="de" class="drawer h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo64x64.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      type="text/javascript"
      src="https://widget-prod.bfv.de/widget/widgetresource/widgetjs"
    ></script>
  </head>
  <body
    class="drawer-content flex flex-col bg-blue bg-opacity-50"
    style={{
      backgroundImage: `url(${bgImage})`,
      backgroundSize: !!bgImage && "cover",
      backgroundAttachment: !!bgImage && "fixed",
    }}
  >
    <input id="drawer" type="checkbox" class="drawer-toggle" />
    <Header />
    <main class="flex-1 p-2 text-neutral">
      <div
        class="prose prose-stone mx-auto mb-8 bg-neutral-focus bg-opacity-90 p-4 bg-blend-soft-light shadow-2xl shadow-neutral-focus dark:prose-invert sm:prose-sm lg:prose-xl prose-headings:text-center prose-h1:text-5xl prose-img:m-auto prose-img:rounded-2xl"
      >
        <h1>{title}</h1>
        {widget && <Widget {widget} />}
        <slot />
      </div>
    </main>
    <Footer />
    <Drawer />
  </body>
  <style>
    .background {
      background-size: cover;
      background-attachment: fixed;
    }
  </style>
</html>
